<form>
    <div>
        <h1 style="color:blue;">Register with My APP</h1>
    </div>
    <div>
        <label for="givenName">First Name</label>
        <input type="text" name="givenName" [(ngModel)]="givenName" required placeholder="Enter your given name" />
    </div>
    <div>
        <label for="familyName">Last Name</label>
        <input type="text" name="famiulyName" [(ngModel)]="familyName" required placeholder="Enter your family name" />
    </div>
    <div>
        <label for="email">Email address</label>
        <input type="email" name="email" [(ngModel)]="email" required placeholder="Enter your email" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="password" required placeholder="Enter your password" />
    </div>
    <div>
        <br />
        <button class="btn btn-primary btn-block" type="button" (click)="register()"> Register</button>
    </div>
</form>
<p class="text-dark mb-0">Already a member?<a href="/login-one" class="text-primery ml-1">Login</a></p>